---
title: Le Wagon Middleman Contact
---
<div class="text-center padded">
  <h1>The super Team</h1>

  <% data.team.each do  |member| %>
    <div class="">
      <%= image_tag member.picture%>
      <h2><%= member.name %></h2>
      <p><%= member.description %></p>
    </div>
  <% end %>
</div>
